/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .components-misesvsmarx-annotation {
   .components-popover__content {
     padding: 10px 14px;

     .components-color-palette {
       margin-top: 0.6rem;
     }

     .components-base-control__title {
       display: block;
       margin-bottom: 16px;
       font-weight: 600;
       color: #191e23;
     }

     .component-color-indicator {
       vertical-align: text-bottom;
     }

     .components-radio-control {
       margin-bottom: 20px;
     }

     // Overwrite Wordpress default styles added
     // onto the block
     #select {
       display: block;
       border-left: none;
       box-shadow: none;
     }

     #edit-link {
       margin-top: 0.25rem;
       display: block;
     }

     .block-editor-block-toolbar.remove-bebt-formatting {
       border-left: none;
       box-shadow: none;
     }
   }
 }
